
paul_wildfires.ipynb
.ipynb_checkpoints/paul_wildfires-checkpoint.ipynb
.ipynb_checkpoints/paul_wildfires-checkpoint.ipynb
.ipynb_checkpoints/paul_wildfires-checkpoint.ipynb
randomforestconfusionmatrix.png
